#BoxMargin{
    border-style: dashed;
    background-color: white;
}
#BoxBorder{
    background-color: yellow;
}
#BoxPadding{
    background-color: white;
}
#BoxContent{
    padding-bottom: 150px;
    border-style: dashed;
    background-color: white;
}
div{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    margin-top: 0px;
}

